<p id="notice"><%= notice %></p>

<p>
  <b>Area:</b>
  <%= @tag.area %>
</p>

<p>
  <b>Epc:</b>
  <%= @tag.epc %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @tag.timestamp %>
</p>

<%= link_to 'Back', client_path %>

